.button-show-more {
  padding-left: 0;
  justify-content: flex-start;
  padding-bottom: 1.1rem;
}

.button-show-more,
.button-show-less {
  margin-top: 1.5rem;
}

.custom-swatch-color{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
