.custom-blogs__heading-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-blogs__slide{
  display: flex;
}

.custom-blogs__blog-content{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-blogs__hr-line{
  margin: 0;
}

.custom-blogs__read-more{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}