.custom-image-with-text-grid__position-rel{
  position: relative;
}

.custom-image-with-text-grid__text-container{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  display:flex;
}

.custom-image-with-text-grid__image-container{
  position : relative;
  /* padding-bottom : 70%; */
}

.image-square{
  padding-bottom: 100%;
}

.image-landscape{
  padding-bottom: 70%;
}

.image-potrait{
  padding-bottom: 120%;
}

@media screen and (min-width: 750px){
  .custom-image-with-text-grid__image-container{
    /* padding-bottom: 45% */
  }
  .image-landscape{
  padding-bottom: 45%;
  }
  
  .image-potrait{
    padding-bottom: 110%;
  }
}

.custom-image-with-text-grid__image-container img{
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
  transition: transform 0.3s ease;
}

.custom-image-with-text-grid__position-rel:hover img{
  transform: scale(1.1);
}

.custom-image-with-text-grid__caption{
  list-style : disc;
}

.custom-image-with-text-grid__text-align{
  max-width: 50rem;
}