.collections-list{
  position: relative;
}

.collections-list__content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.collections-list__slide img{
  overflow: hidden;
  z-index: 2;
  transition: transform 0.4s ease-in-out;
}

.collections-list__slide:hover img{
  transform: scale(1.08);
}
