.testimonial__heading-section{
  margin-bottom: 30px;
}


.testimonial{
  background: #f5f5f5;
}

.testimonial__slide{
  background: #fff;
  padding: 25px;
}

/* .testimonial__image img{
  border-radius: 100px;
}
 */
.testimonial__heading{
  margin-top: 15px;
}

.testimonial__designation{
  font-weight: 400;
  font-size: 14px;
}

.testimonial__comment p{
  margin: 20px 0 0 0;
  
}