.custom-blogs__image{
  position: relative;
  padding-bottom: 50%;
}

.custom-blogs__image img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.custom-blogs__slide{
  display: flex;
}