.lookbook__image{
  position: relative;
  padding-bottom: 115%;
}

.lookbook__image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.lookbook__description p{
  margin: 5px 0 18px 0;
  font-weight: 400;
}

.lookbook__image-container{
  position: relative;
}

.lookbook__dot-container{
  display: flex;
  column-gap: 15px;
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.lookbook__dots {
  height: 3.4rem;
  width: 3.4rem;
  position: absolute;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}

.lookbook__product-container{
  width: 50%;
  height:40%;
  border: 1px solid red;
}

.lookbook__product-image img{
  width: 40px;
  height:40px;
  
}


