.custom-usp{
  background: #f5f5f5;
}

.custom-usp__description{
  opacity: 0.6;
  font-weight: 400;
}

.custom-usp__icon{
  transition: transform 0.3s ease;
}
.custom-usp__icon:hover{
  transform: translateX(-1);
}
