.collections-list{
  position: relative;
}

.collections-list__content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.collections-list__image img{
  transition: transform 0.3s ease;
}

.collections-list__image:hover img{
  transform: scale(1.1)
}
