.custom-image-with-text-grid__position-rel{
  position: relative;
}

.custom-image-with-text-grid__text-container{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  display:flex;
}

.custom-image-with-text-grid__image-container{
  position : relative;
  padding-bottom : 45%;
}

.custom-image-with-text-grid__image-container img{
  position: absolute;
  top: 0;
  /* width: 100%; */
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
  /* height: 100%; */

}

.custom-image-with-text-grid__image-container img:hover{
   transform: scale(1.1);
}

.custom-image-with-text-grid__caption{
  list-style : disc;
}

.custom-image-with-text-grid__text-align{
  max-width: 50rem;
}