.custom-rich-text-section__caption{
  font-weight : 400;
}

.custom-rich-text-section__heading a{
  text-decoration : none;
  color: #d03c3f;
}

.custom-rich-text-section__text-position{
  display: flex;
}

.custom-rich-text-section__button{
  margin-top: 20px;
}