.testimonial__image img{
  border-radius: 100px;
}

.testimonial__heading{
  margin-top: 15px;
}

.testimonial__designation{
  font-weight: 400;
  font-size: 14px;
}

.testimonial__comment p{
  margin: 0
  
}