.product-card{
  position: relative;
}

.product-card__link{
  text-decoration: none;
  font-weight: 500;
}

.product-card__link:hover{
  color: #d03c3f;
}

.product-card__vendor,.product-card__compare-price{
  font-weight: 400;
  opacity: 0.7;
}

.product-card__quick-view{
  position: absolute;
  right: 20px;
  top: 10px;
}

.product-card__quick-view-button{
  padding: 5px 10px;
  font-size: 14px;
}


.product-card__left-tags{
  position: absolute;
  top: 10px;
  left: 10px;
}

.product-card__discount,.product-card__badge{
  padding: 5px 10px;
  background-color: #dd1d1d;
  color: #fff;
  font-size: 11px;
  border-radius: 20px;
}

.product-card__badge{
  background-color: #22570e;
}